rem(size)
  (unit(size, '') / 16) * 1rem

/**
 * Breakpoints
 */

$epsilon := 0.02px
media-down($breakpoint)
  @media (max-width: $breakpoint - $epsilon)
    {block}

media-down-breakpoint($breakpoint_name)
  @media (max-width: $breakpoints[$breakpoint_name] - $epsilon)
    {block}
